@use "../../../styles/variables" as *;

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
  width: 100%;
  background: $white;
  border: 1px solid $gray-200;
  padding: 20px;
  border-radius: 8px;
  gap: 12px;
  margin-bottom: 8px;
}

.task-text {
  flex: 1;
  min-width: 0;
  margin-right: 12px;
}

.task p {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: $gray-400;
  background: none;
  margin-right: auto;
  word-break: break-word;

  &.textChecked {
    text-decoration: line-through;
  }
}

.checkContainer {
  width: 20px;
  height: 20px;
  background-color: none;
  border: none;
  cursor: pointer;

  .checked {
    background-color: $green-base;

    i {
      font-size: 15px;
      font-weight: bold;
      color: $white;
    }
  }
  .checked:hover {
    background-color: $green-dark;
  }
}

.checkContainer div {
  width: 100%;
  height: 100%;
  border: 2px solid $green-base;
  background-color: $white;
  border-radius: 3px;
  transition: 0.2s;
}

.checkContainer div:hover {
  border: 2px solid $green-dark;
  background-color: rgba($green-dark, $alpha: 0.2);
}

.deleteButtonAndEdit {
  width: 32px;
  height: 32px;
  font-size: 20px;
  background: none;
  border-radius: 4px;
  border: none;
  color: $gray-300;
  margin: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.deleteButtonAndEdit:hover {
  background-color: $gray-200;
}

.checkEdit:hover {
  background: none;
}

.check {
  background-color: $green-base;
  color: $white;
  padding: 3px;
  border-radius: 4px;
  transition: 0.2s;
}

.check:hover {
  background-color: $green-dark;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid $pink-base;
  outline: none;
  font-size: 14px;
  color: $gray-400;
  background: transparent;
  padding: 0;
  margin: 0 0 8px 0;
  caret-color: $pink-base;
}
