<div class="task">
  <button class="checkContainer" (click)="toggleChecked()">
    <div [ngClass]="{ checked: isChecked }">
      <i *ngIf="isChecked" class="ph ph-check"></i>
    </div>
  </button>
  <div class="task-text">
    <p [ngClass]="{ textChecked: isChecked }">
      {{task.description}}
    </p>
  </div>
  <div class="task-actions">
    <button class="deleteButtonAndEdit">
      <i class="ph ph-trash"></i>
    </button>
    <button class="deleteButtonAndEdit">
      <i class="ph ph-pencil-simple"></i>
    </button>
  </div>
</div>
