<div class="task">
  <button class="checkContainer" *ngIf="!isEditing" (click)="toggleChecked()">
    <div [ngClass]="{ checked: isChecked }">
      <i *ngIf="isChecked" class="ph ph-check"></i>
    </div>
  </button>
  <div class="task-text">
    <ng-container *ngIf="!isEditing; else editTemplate">
      <p [ngClass]="{ textChecked: isChecked }">{{ task.description }}</p>
    </ng-container>

    <ng-template #editTemplate>
      <input type="text" class="input" [(ngModel)]="editedText" />
    </ng-template>
  </div>
  <div class="task-actions">
    <ng-container *ngIf="!isEditing">
      <button class="deleteButtonAndEdit" (click)="deleteTask()">
        <i class="ph ph-trash"></i>
      </button>
      <button class="deleteButtonAndEdit" (click)="startEditing()">
        <i class="ph ph-pencil-simple"></i>
      </button>
    </ng-container>
    <ng-container *ngIf="isEditing">
      <button class="deleteButtonAndEdit" (click)="cancelEdit()">
        <i class="ph ph-x cancel"></i>
      </button>
      <button class="deleteButtonAndEdit checkEdit" (click)="saveEdit()">
        <i class="ph ph-check check"></i>
      </button>
    </ng-container>
  </div>
</div>
