<div class="container">
  <header>
    <img src="/images/logo.svg" alt="ícone da lista de tarefas" />
  </header>
  <div class="task-container">
    <div class="task-created">
      <p>Tarefas criadas</p>
      <span>{{ totalTask }}</span>
    </div>
    <div class="task-completed">
      <p>Concluídas</p>
      <span>{{ totalTasksCompleted }}</span>
    </div>
  </div>
  <app-button (click)="onShowInput()" *ngIf="!showTaskInput"></app-button>
  <app-task-input
    *ngIf="showTaskInput"
    (add)="onAddTask($event)"
    (cancel)="onShowInput()"
  ></app-task-input>
</div>
