$white: #FFFFFF;
$gray-100:#F7F3F6;
$gray-200:#F4E6F0;
$gray-300:#7A6E76;
$gray-400:#332E32;
$green-light: #CDDFCC;
$green-base: #52A350;
$green-dark: #2F5C2D;
$pink-light: #E9CCE1;
$pink-base: #C257A4;
$pink-dark: #884074;
