@use './styles/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Cairo", sans-serif;
}

body{
  background-color: $gray-100 ;
}
